<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/bicolexpress">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Bicol Express</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-title>Instructions:</ion-title>
  <ion-list>
    <ion-item>
      <ion-label><b>1.</b>  Combine ginger, garlic, onion, Thai chili pepper, <br><br>pork, and coconut milk in a pan. Mix well. <br><br>Cover the pan and turn the heat on. <br><br>Let the mixture boil.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>2.</b>  Remove the cover. Stir. Add half of the bagoong <br><br>and pour around 1 cup of coconut cream and a <br><br>cup of water. Stir and adjust the heat to low. <br><br>Cook until the sauce reduces to a quarter <br><br>(around 50 minutes).
           </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>3.</b>Add the remaining coconut cream and bagoong<br><br> alamang (as needed). Also add the Serrano peppers.<br><br> Continue cooking in low heat until the sauce <br><br>thickens *Transfer to a serving plate <br><br>and serve with warm rice.
      </ion-label>
    </ion-item>
  </ion-list>
  </ion-content>