<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title><b>LET'S COOK PAL!</b></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" padding class="background" >
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title class="landingpage" size="large">LET'S COOK PAL!</ion-title>
      </ion-toolbar>
    </ion-header>
  
   <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/icon/pork.jpg"/>
          <ion-card-header>
            <ion-card-title>PORK BINAGOONGAN SA GATA</ion-card-title>
          </ion-card-header>
        <ion-button fill="clear" routerLink="/binagoonganrecipe">Try it now!</ion-button>
      </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/icon/pepperpork.jpg" />
      <ion-card-header>
        <ion-card-title>PEPPER PORK BELLY</ion-card-title>
      </ion-card-header>
    <ion-button fill="clear" routerLink="/pepperpork">Try it now!</ion-button>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/bangus.jpeg" />
    <ion-card-header>
      <ion-card-title>BANGUS SINIGANG</ion-card-title>
    </ion-card-header>
  <ion-button fill="clear" routerLink="/bangussinigang" >Try it now!</ion-button>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/porkmenudo.jpg" />
    <ion-card-header>
      <ion-card-title>PORK MENUDO</ion-card-title>
    </ion-card-header>
  <ion-button fill="clear" routerLink="/porkmenudo" >Try it now!</ion-button>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/Tinola.jpg" />
    <ion-card-header>
      <ion-card-title>CHICKEN TINOLA</ion-card-title>
    </ion-card-header>
  <ion-button fill="clear" routerLink="/tinola" >Try it now!</ion-button>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/Laing.jpg" />
    <ion-card-header>
      <ion-card-title>LAING</ion-card-title>
    </ion-card-header>
  <ion-button fill="clear" routerLink="/laing" >Try it now!</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/Chickenadobo.jpg" />
    <ion-card-header>
      <ion-card-title>CHICKEN ADOBO</ion-card-title>
    </ion-card-header>
  <ion-button fill="clear" routerLink="/chickenadobo" >Try it now!</ion-button>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/Embutido.jpg" />
    <ion-card-header>
      <ion-card-title>EMBUTIDO</ion-card-title>
    </ion-card-header>
  <ion-button fill="clear" routerLink="/embutido" >Try it now!</ion-button>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/Karekare.jpg" />
    <ion-card-header>
      <ion-card-title>KARE-KARE</ion-card-title>
    </ion-card-header>
  <ion-button fill="clear" routerLink="/karekare" >Try it now!</ion-button>
  </ion-card>
  
  </ion-content>
  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/home">HOME<ion-icon name="home-outline"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-footer>