<ion-content>
  <ion-header [translucent]="true">
   <ion-toolbar>
 <ion-buttons slot="start">
   <ion-back-button default-href="#" routerLink="/chickenadobo">Back</ion-back-button>
   </ion-buttons>
   <ion-title>Chicken Adobo</ion-title>
   </ion-toolbar>
   </ion-header>
   
   <ion-card-content>
   <ion-title>Ingredients:</ion-title>
   <ion-list>
   <ion-item>
   <ion-label> 2 lbs chicken
  </ion-label>
   </ion-item>
   <ion-item>
  <ion-label>3 pieces dried bay leaves 
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label> 8 tablespoons soy sauce 
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>4 tablespoons white vinegar
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>5 cloves garlic
   </ion-label>
  </ion-item>
  <ion-item>
  <ion-label>1 1/2 cups water
   </ion-label>
   </ion-item>
  <ion-item>
   <ion-label> 3 tablespoons cooking oil
  </ion-label>
   </ion-item>
  <ion-item>
   <ion-label>1 teaspoon sugar
   </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>1/4 teaspoon salt
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1 teaspoon whole peppercorn
   </ion-label>
   </ion-item>
   </ion-list>
 </ion-card-content>