<ion-content>
  <ion-header [translucent]="true">
     <ion-toolbar>
     <ion-buttons slot="start">
       <ion-back-button default-href="#" routerLink="/pancit">Back</ion-back-button>
     </ion-buttons>
     <ion-title>Pancit Canton</ion-title>
     </ion-toolbar>
 </ion-header>
 
<ion-content>
   <ion-title>Instructions:</ion-title>
   <ion-list>
     <ion-item>
       <ion-label><b>1.</b> Boil water and then add salt. 
        <br><br>Put the pancit canton noodles. Cook for 2 minutes. 
        <br><br>Remove the noodles and set aside.
   </ion-label>
     </ion-item>
     <ion-item>
       <ion-label><b>2.</b> Using the remaining water, blanch the <br><br>vegetable ingredients for 1 to 2 minutes. <br><br>Remove from the pot and soak in ice cold<br><br> water for 30 seconds. Drain the water <br><br>and set the vegetables aside.
   </ion-label>
     </ion-item>
     <ion-item>
       <ion-label><b>3.</b> Heat oil in a clean cooking pot.<br><br> Saute onion and garlic until the onion <br><br>softens.
   </ion-label>
     </ion-item>
     <ion-item>
       <ion-label><b>4.</b> Add chicken breast, squid balls, <br><br>and Chinese sausage. Saute for 1 to <br><br>2 minutes.
       </ion-label>
   </ion-item>
     <ion-item>
       <ion-label><b>5.</b> Add the shrimp. Cook for 1 minute.
       </ion-label>
   </ion-item>
     <ion-item>
       <ion-label><b>6.</b> Pour the soy sauce in the cooking pot <br><br>and then add oyster sauce, and 1 cup water.<br><br>Let the liquid boil.
       </ion-label>
   </ion-item>
     <ion-item>
   <ion-label><b>7.</b> Add Knorr shrimp cube. Stir and gently toss-in<br><br> the pancit canton noodles and add the chopped <br><br>parsley. Cover the pot. Adjust the heat setting of <br><br>your stove between low and medium. Cook the <br><br>noodles for 2 to 3 minutes or until well done, <br><br>but not soggy (Note: add more water if needed).
     </ion-label>
   </ion-item>
   <ion-item>
    <ion-label><b>8.</b> Toss the blanched vegetables in the pot. <br><br>Season with salt and ground black pepper.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>9.</b> Transfer to a serving plate. Serve with lemon<br><br> wedges or calamansi. Share and Enjoy!
        </ion-label>
      </ion-item>
 </ion-list>
</ion-content>