<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Relyenong Talong with Tuna</ion-title>
    </ion-toolbar>
</ion-header>
  
  <ion-content>
      <ion-card>
      <img alt="" src="../../assets/icon/relyenongTwT.webp" />
          <ion-button id="open-modal" fill="outline" expand="block" routerLink="/relyentunaingred">Ingredients</ion-button>
          <ion-button id="open-modal" fill="outline" expand="block" routerLink="/relyentunainst">Instructions</ion-button>
          <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=a1bsBrXtGyM">JUMP TO VIDEO</ion-button>
      </ion-card>
  <ion-card>
    <ion-card-content><b>Nutrition Information Calories:</b> 475kcal (24%) Carbohydrates: 28g (9%)
      Protein: 24g (48%) Fat: 32g (49%) Saturated Fat: 3g (15%) Polyunsaturated
      Fat: 9g Monounsaturated Fat: 19g Trans Fat: 0.1g Cholesterol: 112mg (37%)
      Sodium: 408mg (17%) Potassium: 1168mg (33%) Fiber: 12g (48%) Sugar: 16g (18%)
  Vitamin A: 3976IU (80%) Vitamin C: 51mg (62%) Calcium: 85mg (9%) Iron: 3mg (17%)
  </ion-card-content>
  </ion-card>
  </ion-content>