<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Laing</ion-title>
    </ion-toolbar>
  </ion-header>
  
      <ion-content>
        <ion-card>
          <img alt="" src="../../assets/icon/Laing.jpg" />
          <ion-button id="open-modal" fill="outline" expand="block" routerLink="/laingingred">Ingredients</ion-button>
          <ion-button id="open-modal" fill="outline" expand="block" routerLink="/lainginst">Instructions</ion-button>
        </ion-card>
        <ion-card>
          <ion-card-content><b>Nutrition Information
            Serving:</b>  8g Calories: 618kcal (31%) Carbohydrates: 12g
             (4%) Protein: 18g (36%) Fat: 59g (91%) Saturated Fat: 51g (255%) Cholesterol: 
             108mg (36%) Sodium: 323mg (13%) Potassium: 801mg (23%) Fiber: 2g (8%) Sugar: 1g
              (1%) Vitamin A: 600IU (12%) Vitamin C: 12.3mg (15%) Calcium: 94mg (9%) Iron: 8.3mg (46%).
          </ion-card-content>
        </ion-card>
      </ion-content>