<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
  <ion-title>Lechon Kawali Sisig</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
    <img alt="" src="../../assets/icon/sisig.jpg" />
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/sisigingred">Ingredients</ion-button>
  <ion-button id="open-modal" fill="outline" expand="block" routerLink="/sisiginst">Instructions</ion-button>
  <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=kapD-91ZUH8">JUMP TO VIDEO</ion-button>
    </ion-card>
  <ion-card>
    <ion-card-content><b>Nutrition Information Calories:</b> 3521kcal (176%) Carbohydrates: 24g (8%) 
      Protein: 54g (108%) Fat: 358g (551%) Saturated Fat: 57g (285%) Polyunsaturated 
      Fat: 73g Monounsaturated Fat: 186g Trans Fat: 1g Cholesterol: 233mg (78%) 
      Sodium: 4002mg (167%) Potassium: 1257mg (36%) Fiber: 3g (12%) Sugar: 6g (7%) 
      Vitamin A: 2928IU (59%) Vitamin C: 42mg (51%) Calcium: 114mg (11%) Iron: 6mg (33%)
    </ion-card-content>
  </ion-card>
  </ion-content>