<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/home">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Creamy Macaroni</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-card-content>
    <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>1 ½ cups elbow macaroni    
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 oz. chicken breast diced
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 ounces ham Sliced into squares
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 Knorr Chicken Cube
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>62 grams Knorr Cream of Mushroom Soup
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 carrots diced
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>8 oz whole corn kernel
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 onion minced
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>3 cloves garlic minced
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>5 cups water
        </ion-label>
      </ion-item>


    <ion-item>
      <ion-label>3 tablespoons butter
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>Salt and ground black pepper to taste
      </ion-label>
    </ion-item>


   
      </ion-list>
  </ion-card-content>

