<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
  <ion-title>Pinoy Chicken Curry</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true" padding class="background" >
  <ion-card>
    <img alt="" src="../../assets/icon/chickcurry.png" />
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/chickcurryingred">Ingredients</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/chickcurryinst">Instructions</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=y0pbhp3dsfU">JUMP TO VIDEO</ion-button>
  </ion-card>
  
  <ion-card>
      <ion-card-content><b>Nutrition Information Calories:</b> 497kcal (25%)
         Carbohydrates: 7g (2%) Protein: 30g (60%) Fat: 39g (60%) 
         Saturated Fat: 21g (105%) Polyunsaturated Fat: 5g Monounsaturated 
         Fat: 10g Trans Fat: 1g Cholesterol: 113mg (38%) Sodium: 131mg (5%) 
         Potassium: 587mg (17%) Fiber: 1g (4%) Sugar: 2g (2%) Vitamin A: 908IU (18%) 
         Vitamin C: 31mg (38%) Calcium: 53mg (5%) Iron: 4mg (22%).
      </ion-card-content>
  </ion-card>
</ion-content>ac