<ion-content>
  <ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/sisig">Back</ion-back-button>
      </ion-buttons>
  <ion-title>Lechon Kawali Sisig</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-card-content>
  <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>1 lb. pork belly
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>3 dried bay leaves
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>2 teaspoons whole peppercorn
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>2 tablespoons liver spread
        </ion-label>  
      </ion-item>
      
      <ion-item>
        <ion-label>2 Thai chili pepper chopped
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>3 tablespoons green onions chopped
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>¾ cup red onions chopped
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>2 teaspoon salt
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>6 cups water</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>2 cups cooking oil
        </ion-label>
      </ion-item>

  </ion-list>
</ion-card-content>
   
    