<ion-content>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="#" routerLink="/laing">Back</ion-back-button>
        </ion-buttons>
        <ion-title>Laing</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-title>Instructions:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label><b>1.</b>  Combine the coconut milk, pork, shrimp paste, <br><br>ginger, onion, and garlic in a cooking pot. <br><br>Heat the pot and let boil.
        </ion-label>
      </ion-item>
  
      <ion-item>
          <ion-label><b>2.</b>  Once the mixture starts to boil, gently stir <br><br>to mix the ingredients. 
            Cover the pot and simmer <br><br>for 15 to 20 minutes. Make sure to stir <br><br>once in a while to prevent the 
            ingredients from <br><br>sticking on the bottom of the cooking pot.
  
             </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>3.</b> Add the dried taro leaves. Do not stir. <br><br>Let it stay until the leaves absorb the coconut milk. <br><br>This takes about 20 to 30 minutes. You can gently<br><br> push the leaves down so that it can absorb <br><br>more coconut milk.
  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>4.</b> Once the leaves absorb the coconut milk, <br><br>stir the leaves and then continue to <br><br>cook for 10 minutes.
  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>5.</b>  Pour the coconut cream into the cooking pot. <br><br>Add the red chilies. Stir. <br><br>Cook for 10 to 12 minutes.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>6.</b>  Transfer to a serving plate. Serve.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>7.</b>  Share and enjoy!
        </ion-label>
      </ion-item>
    </ion-list>
    </ion-content>