<ion-content>
  <ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/pancit">Back</ion-back-button>
      </ion-buttons>
  <ion-title>Pancit Canton</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-card-content>
  <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>350 grams pancit canton noodles
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>1 Knorr shrimp cube
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>1/2 lb. shrimp head and shell removed
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>3 ounces chicken breast sliced
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>2 links Chinese sausage sliced
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>6 squid balls halved
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>2 tablespoons oyster sauce
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>4 tablespoons soy sauce
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>3 tablespoons parsley chopped
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>1 onion sliced
        </ion-label>
      </ion-item>


      <ion-item>
        <ion-label>4 cloves garlic crushed
        </ion-label>
      </ion-item>


      <ion-item>
        <ion-label>8 cups water
        </ion-label>
      </ion-item>


      <ion-item>
        <ion-label>3 tablespoons cooking oil
        </ion-label>
      </ion-item>


      <ion-item>
        <ion-label>Salt and ground black pepper to taste
        </ion-label>
      </ion-item>

      <ion-card-content>
        <ion-title><br>Vegetable Ingredients:</ion-title>
          <ion-list>
            <ion-item>
              <ion-label>1 red bell pepper sliced
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>1 green bell pepper sliced
              </ion-label>
            </ion-item>


            <ion-item>
              <ion-label>½ head cabbage chopped
              </ion-label>
            </ion-item>


            <ion-item>
              <ion-label>1 cup carrots julienned
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>3 ounces snow peas
              </ion-label>
            </ion-item>


  </ion-list>
</ion-card-content>
   
    