<ion-content>
  <ion-header [translucent]="true">
     <ion-toolbar>
     <ion-buttons slot="start">
       <ion-back-button default-href="#" routerLink="/porkmonggocrispgalungong">Back</ion-back-button>
     </ion-buttons>
     <ion-title>Pork Monggo with Crispy Galunggong</ion-title>
     </ion-toolbar>
 </ion-header>
 
<ion-content>
   <ion-title>Instructions:</ion-title>
   <ion-list>
     <ion-item>
       <ion-label><b>1.</b> Start to tenderize the mung beans by boiling 4 cups of water in a cooking pot. Add the mung beans. Cover and cook in a low heat setting until it softens.
   </ion-label>
     </ion-item>
     <ion-item>
       <ion-label><b>2.</b> Meanwhile, prepare the fish by rubbing salt all over it, including the cavity. Heat 1 cup of cooking oil in a pan. Fry the fish until it gets crispy. Set aside.
   </ion-label>
     </ion-item>
     <ion-item>
       <ion-label><b>3.</b> Cook the pork monggo by heating 3 tablespoons of cooking oil that you used to fry the fish. Saute garlic, onion, and tomato.
   </ion-label>
     </ion-item>
     <ion-item>
       <ion-label><b>4.</b> Once the onion softens, add the pork. Cook it until it starts to brown. Pour 1 cup of water. Let it boil. Cover and continue cooking for 10 minutes.
       </ion-label>
   </ion-item>
     <ion-item>
       <ion-label><b>5.</b> Add the softened mung beans and more water as needed. Stir and cook for 5 minutes.
       </ion-label>
   </ion-item>
     <ion-item>
       <ion-label><b>6.</b> Add hot pepper leaves and season with fish sauce and ground black pepper.
       </ion-label>
   </ion-item>
     <ion-item>
   <ion-label><b>7.</b> Transfer to a serving bowl. Serve with warm rice and fried galunggong. Share and enjoy!
     </ion-label>
   </ion-item>
 </ion-list>
</ion-content>