<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/tinola">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Chicken Tinola</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card-content>
    <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>1 kilo whole chicken, cut into pieces.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 small young papaya or sayote, cut into small pieces.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 tablespoons ginger, crushed and slliced into strips
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1/2 cup dahon ng sili (chili leaves) or malunggay leaves</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 liter of water
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>5 garlic cloves, minced</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 red onion, diced
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>4 tablespoons oil</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 tablespoons patis (fish sauce)
        </ion-label>
      </ion-item>
      </ion-list>
  </ion-card-content>