<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Bicol Express</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="background" >
      <ion-card>
        <img alt="" src="../../assets/icon/bicolexpress.jpg" />
        <ion-button id="open-modal" fill="outline" expand="block" routerLink="/bicolexpressingred">Ingredients</ion-button>
        <ion-button id="open-modal" fill="outline" expand="block" routerLink="/bicolexpressinst">Instructions</ion-button>
        <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=oNeQRYQ7q4E">JUMP TO VIDEO</ion-button>
      </ion-card>
      <ion-card>
        <ion-card-content><b>Nutrition Information
          Service:</b>  6g Calories: 1240kcal (62%) Carbohydrates: 10g (3%)
Protein: 27g (54%) Fat: 124g (191%) Saturated Fat: 68g (340%) Cholesterol: 228mg (76%)
Sodium: 431mg (18%) Potassium: 745mg (21%) Fiber: 2g (8%) Sugar: 1g (1%)
Vitamin A: 29IU (1%) Vitamin C: 8mg (10%) Calcium: 81mg (8%) Iron: 6mg (33%)
        </ion-card-content>
      </ion-card>
    </ion-content>
