<ion-content>
  <ion-header [translucent]="true">
  <ion-toolbar>
   <ion-buttons slot="start">
  <ion-back-button default-href="#" routerLink="/bangussinigang">Back</ion-back-button>
   </ion-buttons>
   <ion-title>Sinigang na Bangus</ion-title>
   </ion-toolbar>
   </ion-header>
  
   <ion-content>
   <ion-title>Instructions:</ion-title>
   <ion-list>
   <ion-item>
  <ion-label><b>1.</b> Make the regular sinigang by boiling 1 <br><br>quart of water in a cooking pot. 
   Add tomatoes <br><br>and onions. Cook for 2 to 3 minutes. <br><br>Add the bangus and Knorr Sinigang sa <br><br>Sampaloc with Miso. 
  Simmer it for 18 to 20 minutes. <br><br>Add okra, daikon radish, long green pepper, <br><br>and string beans. Continue cooking for 5 minutes. 
   <br><br>Season with fish sauce and ground black pepper.<br><br> Add the mustard leaves and cook for 2 minutes. <br><br>Serve hot.
   </ion-label>
   </ion-item>
  
   <ion-item>
  <ion-label><b>2.</b> Start making the fried bangus sinigang by<br><br> rubbing salt all over the fish. Heat the oil in a pan.<br><br> Fry both sides of the fish until it turns golden brown. <br><br>Remove the fish and set it aside. Saute onion and <br><br>tomato in the remaining oil. Add the fried bangus and<br><br> pour water into the pot. Let it boil. Add Knorr Sinigang <br><br>sa Sampaloc with Miso. Simmer for 10 minutes. <br><br>Add okra, string beans, and long green peppers.<br><br> Season with fish sauce and ground black pepper. <br><br>Add the kangkong leaves. Continue cooking for <br><br>1 minute. Serve hot.
  
  </ion-label>
   </ion-item>
   <ion-item>
   <ion-label><b>3.</b> Share and enjoy!
   </ion-label>
  </ion-item>
   </ion-list>
  </ion-content>