<ion-content>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="#" routerLink="/embutido">Back</ion-back-button>
        </ion-buttons>
        <ion-title>EMBUTIDO</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-title>Instructions:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label><b>1.</b>  Place the ground pork in a large container.
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label><b>2.</b>  Add the breadcrumbs then break the raw <br><br> eggs and add it in. Mix well.
             </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>3.</b> Put-in the carrots, bell pepper (red and green), <br><br> onion, pickle relish, and cheddar cheese. <br><br> Mix thoroughly.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>4.</b> Add the raisins, tomato sauce, salt,<br><br>  and pepper then mix well.
  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>5.</b> Place the meat mixture in an aluminum foil <br><br> and flatten it. (see video for guidance).
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>6.</b> Put in the sliced vienna sausage and sliced<br><br>  boiled eggs alternately in the middle of the <br><br> flat meat mixture.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>7.</b>  Roll the foil to form a cylinder — locking the<br><br>  sausage and egg in the middle of the meat mixture.<br><br>  Once done, lock the edges of the foil.
  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>8.</b>  Place in a steamer and let cook for 1 hour.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>9.</b>  Place inside the refrigerator until <br><br> temperature turns cold
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>10.</b>  Slice and serve. Share and Enjoy!
        </ion-label>
      </ion-item>
    </ion-list>
    </ion-content>