<ion-header [translucent]="true">
   <ion-toolbar>
   <ion-buttons slot="start">
   <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
   </ion-buttons>
   <ion-title>KARE-KARE</ion-title>
   </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" padding class="background" >
   <ion-card>
   <img alt="" src="../../assets/icon/Karekare.jpg" />
   <ion-button id="open-modal" fill="outline" expand="block" routerLink="/karekareingred">Ingredients</ion-button>
   <ion-button id="open-modal" fill="outline" expand="block" routerLink="/karekareinst">Instructions</ion-button>
   <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=YvTs4on5aVM">JUMP TO VIDEO</ion-button>
   </ion-card>
   <ion-card>
   <ion-card-content><b>Nutrition Information
   Service:</b> 6g Calories: 934kcal (47%) Carbohydrates: 24g (8%) Protein: 91g (182%) Fat: 53g (82%) Saturated Fat: 16g (80%) Cholesterol: 368mg (123%) Sodium:
  940mg (39%) Potassium: 444mg (13%) Fiber: 5g (20%) Sugar: 3g (3%) Vitamin C: 4.3mg (5%) Calcium: 147mg (15%) Iron: 11.5mg (64%).
   </ion-card-content>
   </ion-card>
   </ion-content>