<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/relyentuna">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Relyenong Talong with Tuna</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card-content>
    <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>3 eggplants large</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 teaspoons Knorr Liquid Seasoning</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 eggs
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>12 ounces tuna in can</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 bell pepper chopped
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>½ cup carrot minced
  </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 cloves garlic chopped
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label>1 onion
          </ion-label>
        </ion-item>
      <ion-item>
        <ion-label>½ cup cooking oil</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1/2 cup green onion chopped</ion-label>
      </ion-item>
      </ion-list>
  </ion-card-content>