<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Pork Menudo</ion-title>
    </ion-toolbar>
  </ion-header>
  
      <ion-content>
        <ion-card>
          <img alt="" src="../../assets/icon/menudopork.jpg" />
          <ion-button id="open-modal" fill="outline" expand="block" routerLink="/porkmenudoingred">Ingredients</ion-button>
          <ion-button id="open-modal" fill="outline" expand="block" routerLink="/porkmenudoinst">Instructions</ion-button>
        </ion-card>
        <ion-card>
          <ion-card-content><b>Nutrition Information
            Serving:</b>  6g Calories: 524kcal (26%) Carbohydrates: 12g (4%) Protein: 33g (66%) 
            Fat: 37g (57%) Saturated Fat: 12g (60%) Cholesterol: 161mg (54%) Sodium: 1356mg (57%) 
            Potassium: 857mg (24%) Fiber: 2g (8%) Sugar: 3g (3%) Vitamin A: 5035IU (101%) 
            Vitamin C: 14.6mg (18%) Calcium: 52mg (5%) Iron: 4.3mg (24%)
            .</ion-card-content>
        </ion-card>
      </ion-content>