<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
  <ion-title>Filipino Style Beef Steak</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card>
    <img alt="" src="../../assets/icon/bistek.jpg" />
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/bistekingred">Ingredients</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/bistekinst">Instructions</ion-button>
  </ion-card>
  
  <ion-card>
      <ion-card-content><b>Nutrition Information Calories:</b> 729kcal (36%) Carbohydrates: 12g (4%) Protein: 
        43g (86%) Fat: 56g (86%) Saturated Fat: 18g (90%) Polyunsaturated Fat: 4g Monounsaturated 
        Fat: 27g Trans Fat: 3g Cholesterol: 161mg (54%) Sodium: 1911mg (80%) Potassium: 801mg (23%) 
        Fiber: 2g (8%) Sugar: 5g (6%) Vitamin A: 10IU Vitamin C: 12mg (15%) Calcium: 79mg (8%) Iron: 5mg (28%)
      </ion-card-content>
  </ion-card>
</ion-content>