<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
    <ion-title>CREAMY MACARONI SOUP/SOPAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="background" >
      <ion-card>
        <img alt="" src="../../assets/icon/Sopas.jpg" />
        <ion-button id="open-modal" fill="outline" expand="block" routerLink="/sopasingred">Ingredients</ion-button>
        <ion-button id="open-modal" fill="outline" expand="block" routerLink="/sopasinst">Instructions</ion-button>
        <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=WVI2XrH8K90">JUMP TO VIDEO</ion-button>
      </ion-card>
      <ion-card>
        <ion-card-content><b>Nutrition Information
           Calories: </b> 321kcal (16%) Carbohydrates: 43g (14%)
Protein: 12g (24%) Fat: 11g (17%) Saturated Fat: 5g (25%) Polyunsaturated
Fat: 1g Monounsaturated Fat: 3g Trans Fat: 0.3g Cholesterol: 33mg (11%)
Sodium: 540mg (23%) Potassium: 421mg (12%) Fiber: 3g (12%) Sugar: 4g (4%)
 Vitamin A: 4290IU (86%) Vitamin C: 5mg (6%) Calcium: 48mg (5%) Iron: 1mg (6%)
        </ion-card-content>
      </ion-card>
    </ion-content>