<ion-header [translucent]="true">
   <ion-toolbar>
   <ion-buttons slot="start">
   <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
   </ion-buttons>
   <ion-title>Chicken Tinola</ion-title>
  </ion-toolbar>
  </ion-header>
  
   <ion-content>
   <ion-card>
   <img alt="" src="../../assets/icon/Tinola.jpg" />
   <ion-button id="open-modal" fill="outline" expand="block" routerLink="/tinolaingred">Ingredients</ion-button>
   <ion-button id="open-modal" fill="outline" expand="block" routerLink="/tinolainst">Instructions</ion-button>
   <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=K_g70EZBTKc">JUMP TO VIDEO</ion-button>
  </ion-card>
  <ion-card>
   <ion-card-content><b>Nutrition Information
  Serving:</b> 5g Calories: 530kcal (27%) Carbohydrates: 10g (3%) Protein: 38g (76%) 
   Fat: 36g (55%) Saturated Fat: 14g (70%) Cholesterol: 136mg (45%) Sodium: 904mg (38%) 
   Potassium: 594mg (17%) Fiber: 1g (4%) Sugar: 1g (1%) Vitamin A: 815IU (16%) 
   Vitamin C: 113.1mg (137%) Calcium: 260mg (26%) Iron: 2.4mg (13%).
  </ion-card-content>
  </ion-card>
   </ion-content>