<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
  </ion-buttons>
 <ion-title>Pepper Pork Belly</ion-title>
   </ion-toolbar>
  </ion-header>
  
  <ion-content>
   <ion-card>
    <img alt="" src="../../assets/icon/pepperpork.jpg" />
    <ion-button id="open-modal" fill="outline" expand="block" routerLink="/pepperporkingred">Ingredients</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/pepperporkinst">Instructions</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=jrqru41ffRI">JUMP TO VIDEO</ion-button>
    </ion-card>
  <ion-card>
  <ion-card-content><b>Nutrition Information
      Calories:</b> 1059kcal (53%) Carbohydrates: 9g (3%) Protein: 20g (40%) Fat: 105g (162%) 
      Fat: 36g (180%) Polyunsaturated Fat: 13g Monounsaturated Fat: 50g Trans Fat: 0.03g 
      Cholesterol: 131mg (44%) Sodium: 970mg (40%) Potassium: 553mg (16%) Fiber: 2g (8%) Sugar: 5g (6%) 
    Vitamin A: 1597IU (32%) Vitamin C: 83mg (101%) Calcium: 32mg (3%) Iron: 2mg (11%)
    </ion-card-content>
    </ion-card>
  </ion-content>