<ion-header [translucent]="true">
   <ion-toolbar>
   <ion-buttons slot="start">
   <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
   </ion-buttons>
   <ion-title>Sinigang na Bangus</ion-title>
  </ion-toolbar>
  </ion-header>
  
   <ion-content>
   <ion-card>
 <img alt="" src="../../assets/icon/bangus.jpeg" />
   <ion-button id="open-modal" fill="outline" expand="block" routerLink="/bangusingred">Ingredients</ion-button>
   <ion-button id="open-modal" fill="outline" expand="block" routerLink="/bangusinst">Instructions</ion-button>
   <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=8BL3uJlutg0">JUMP TO VIDEO</ion-button>
 </ion-card>
   <ion-card>
   <ion-card-content><b>Nutrition Facts:</b> Nutrition Facts
   Energy 1177 kj 281 kcal,
  Protein 38.22g,
   Carbohydrates 2.13g,
 Sugar 0.96g,
 Fat 12.4g,
 Saturated Fat 3.059g,
   Polyunsaturated Fat 3.407g,
   Monounsaturated Fat4.744g,
   Cholesterol 95mg,
   Fibre 0.6g,
 Sodium 243mg,
   Potassium 624mg.
   </ion-card-content>
   </ion-card>
  </ion-content>