<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/home">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Lumpia</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-card-content>
    <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>50 pieces lumpia wrapper  
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>3 cups cooking oil
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Filling Ingredient
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 1/2 lbs ground pork
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 pieces onion minced
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 pieces carrots minced
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 1/2 teaspoons garlic powder
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1/2 teaspoon ground black pepper
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1/2 cup parsley chopped
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 1/2 teaspoons salt
        </ion-label>
      </ion-item>


    <ion-item>
      <ion-label>1 tablespoon sesame oil
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>2 eggs
      </ion-label>
    </ion-item>


   
      </ion-list>
  </ion-card-content>