<ion-content>
 <ion-header [translucent]="true">
  <ion-toolbar>
 <ion-buttons slot="start">
 <ion-back-button default-href="#" routerLink="/chickenadobo">Back</ion-back-button>
 </ion-buttons>
   <ion-title>Chicken Adobo</ion-title>
   </ion-toolbar>
   </ion-header>
  
  <ion-content>
   <ion-title>Instructions:</ion-title>
   <ion-list>
   <ion-item>
 <ion-label><b>1.</b> Combine chicken, soy sauce, and garlic<br><br>in a large bowl. Mix well. Marinate the chicken for <br><br>at least 1 hour.<br><br>
   <b>Note:</b> the longer the time, the better <br><br>2 lbs chicken, 8 tablespoons soy sauce.
  
   </ion-label>
   </ion-item>
  
 <ion-item>
   <ion-label><b>2.</b> Heat a cooking pot. Pour cooking oil. <br><br>3 tablespoons cooking oil.
  
  </ion-label>
   </ion-item>
   <ion-item>
   <ion-label><b>3.</b> When the oil is hot enough, pan-fry <br><br>the marinated chicken for 2 minutes per side.
  
  
  </ion-label>
   </ion-item>
   <ion-item>
   <ion-label><b>4.</b> Pour-in the remaining marinade, including <br><br>garlic. Add water. Bring to a boil 1 1/2 cups water.
  
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label><b>5.</b> Add dried bay leaves and whole peppercorn. <br><br>Simmer for 30 minutes or until the chicken gets tender <br><br>3 pieces dried bay leaves, 1 teaspoon whole <br><br>peppercorn
   </ion-label>
   </ion-item>
  <ion-item>
   <ion-label><b>6.</b> Add 4 tablespoons white vinegar. Stir and cook for 10 minutes. <br><br>
  
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label><b>7.</b> Put-in the 1 teaspoon sugar, 1/4 teaspoon salt.. Stir and turn the <br><br>heat off.Serve hot. Share and Enjoy! 
  
   </ion-label>
   </ion-item>
   </ion-list>
   </ion-content>