<ion-content>
   <ion-header [translucent]="true">
   <ion-toolbar>
   <ion-buttons slot="start">
  <ion-back-button default-href="#" routerLink="/relyentuna">Back</ion-back-button>
  </ion-buttons>
  <ion-title>Relyenong Talong with Tuna</ion-title>
   </ion-toolbar>
 </ion-header>
  
 
  <ion-content>
    <ion-title>Instructions:</ion-title>
 <ion-list>
   <ion-item>
   <ion-label><b>1.</b> Slice the eggplants crosswise, half an inch thick. Create eggplant rings by cutting around the inside part of each sliced eggplant. Chop the part that has been cut-out and set it aside.
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label><b>2.</b> Heat 3 tablespoons of cooking oil in a pan. Sauté onion and garlic. Add tuna and chopped eggplant once the onion softens. Cook for 3 to 5 minutes. Season with Knorr Liquid Seasoning. Transfer to a mixing bowl and let it cool down
  </ion-label>
   </ion-item>
  <ion-item>
 <ion-label><b>3.</b> Beat the eggs and add it to the cooked mixture in the bowl. Also add half of the carrot, green onions, and bell peppers. Mix well.
  </ion-label>
  </ion-item>
 <ion-item>
   <ion-label><b>4.</b> Heat the remaining oil. Fry one side of the eggplant rings for 1 minute.
   </ion-label>
   </ion-item>
  <ion-item>
   <ion-label><b>5.</b> Turn the eggplant over to cook the opposite side. Sprinkle some minced carrot, bell pepper, and green onions in each ring. Top it with a scoop of tuna mixture. Gently spread the mixture within the ring. Set your stove to medium heat and continue cooking for 2 minutes.
  </ion-label>
 </ion-item>
   <ion-item>
   <ion-label><b>6.</b> Top the mixture with minced carrot, bell pepper, and green onions. Turn it over and cook the other side for 2 to 3 minutes. Remove the relyenong talong from the pan and arrange it on a serving plate. Serve with banana ketchup. Share and enjoy!
   </ion-label>
  </ion-item>
   </ion-list>
  </ion-content>