<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/lumpia">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Lumpia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-title>Instructions:</ion-title>
  <ion-list>
    <ion-item>
      <ion-label><b>1.</b> Combine all filling ingredients in a bowl. Mix well.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>2.</b>  Scoop around 1 to 1 1/2 tablespoons of filling and place over a piece of lumpia wrapper. Spread the filling and then fold both sides of the wrapper. Fold the bottom. Brush beaten egg mixture on the top end of the wrapper. Roll-up until completely wrapped. Perform the same step until all mixtures are consumed.
           </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>3.</b>Heat oil in a cooking pot. Deep fry lumpia in medium heat until it floats.
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label><b>4.</b>Remove from the pot. Let excess oil drip. Serve. Share and enjoy.
        </ion-label>
      </ion-item>
  </ion-list>
  </ion-content>