<ion-content>
   <ion-header [translucent]="true">
   <ion-toolbar>
   <ion-buttons slot="start">
   <ion-back-button default-href="#" routerLink="/embutido">Back</ion-back-button>
   </ion-buttons>
   <ion-title>EMBUTIDO</ion-title>
   </ion-toolbar>
   </ion-header>
   
  <ion-card-content>
   <ion-title>Ingredients:</ion-title>
   <ion-list>
 <ion-item>
   <ion-label> 2 lbs. ground pork
   </ion-label>
   </ion-item>
   <ion-item>
 <ion-label>12 pieces vienna sausage or 6 pcs hot dogs, cut in half lengthwise 
  </ion-label>
  </ion-item>
   <ion-item>
   <ion-label>3 hard boiled eggs sliced 
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1/2 cup sweet pickle relish
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1/2 cup tomato sauce
   </ion-label>
  </ion-item>
 <ion-item>
 <ion-label>2 eggs
   </ion-label>
  </ion-item>
   <ion-item>
   <ion-label>2 cups cheddar cheese grated 
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1 cup red bell pepper minced
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1 1/2 cup raisins
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1 cup carrots minced
   </ion-label>
  </ion-item>
   <ion-item>
   <ion-label>1 cup onion minced
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>salt and pepper
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1 to 1 1/2 cups bread crumbs made by placing <br>4 slices of tasty bread in a food processor. <br>If not using any food processor, <br>just tear the bread.
   </ion-label>
  </ion-item>
  </ion-list>
   </ion-card-content>