<ion-content>
  <ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/afritada">Back</ion-back-button>
      </ion-buttons>
  <ion-title>Pork Afritada</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-card-content>
  <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>2 lbs pork shoulder cubed</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>1 Knorr Pork Cube</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>3 hot dogs sliced</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>2 carrots sliced into small wedges</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>2 potato cube</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>8 oz. tomato sauce</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>1/4 cup green peas</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>1 tomato cubed</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>4 dried bay leaves</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>1 onion chopped</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>6 cloves garlic chopped</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>3 cups water</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>3 tablespoons cooking oil</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Salt and ground black pepper to taste</ion-label>
      </ion-item>
  </ion-list>
</ion-card-content>
   
    