<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
      </ion-buttons>
      <ion-title>EMBUTIDO</ion-title>
    </ion-toolbar>
  </ion-header>
  
      <ion-content>
        <ion-card>
          <img alt="" src="../../assets/icon/Embutido.jpg" />
          <ion-button id="open-modal" fill="outline" expand="block" routerLink="/embutidoingred">Ingredients</ion-button>
          <ion-button id="open-modal" fill="outline" expand="block" routerLink="/embutidoinst">Instructions</ion-button>
        </ion-card>
        <ion-card>
          <ion-card-content><b>Nutrition Information
            Service:</b> 6g Calories: 892kcal (45%) Carbohydrates: 65g (22%) Protein: 45g (90%) Fat: 51g (78%) Saturated Fat: 21g (105%) Polyunsaturated Fat: 5g Monounsaturated Fat: 19g Trans Fat: 0.01g Cholesterol: 296mg (99%) Sodium: 888mg (37%) Potassium: 1137mg (32%) Fiber: 6g (24%) Sugar: 13g (14%) Vitamin A: 5368IU (107%) Vitamin C: 60mg (73%) Calcium: 389mg (39%) Iron: 5mg (28%).
          </ion-card-content>
        </ion-card>
      </ion-content>