<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
  <ion-title>Kinamatisang Manok</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true" padding class="background" >
  <ion-card>
    <img alt="" src="../../assets/icon/kinmanok.jpg" />
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/kinamatisangmanokingred">Ingredients</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/kinamatisangmanokinst">Instructions</ion-button>
  </ion-card>

  <ion-card>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0DrKj8iFHo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </ion-card>
  
  <ion-card>
      <ion-card-content><b>Nutrition Information Calories:</b> 346kcal (17%) Carbohydrates: 14g (5%) 
        Protein: 23g (46%) Fat: 23g (35%) Saturated Fat: 5g (25%) Polyunsaturated Fat: 6g 
        Monounsaturated Fat: 11g Trans Fat: 0.1g Cholesterol: 68mg (23%) Sodium: 484mg (20%) 
        Potassium: 1307mg (37%) Fiber: 5g (20%) Sugar: 8g (9%) 
        Vitamin A: 15994IU (320%) Vitamin C: 170mg (206%) Calcium: 386mg (39%) Iron: 4mg (22%)</ion-card-content>
  </ion-card>
</ion-content>