<ion-content>
  <ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/porkmonggocrispgalungong">Back</ion-back-button>
      </ion-buttons>
  <ion-title>Pork Monggo with Crispy <br>Galunggong</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-card-content>
  <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>1 ½ cups munggo beans
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>1 Knorr Pork Cube
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>4 ounces pork cut into small pieces        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>1 bunch hot pepper leaves
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>4 cloves garlic chopped1 onion chopped
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>2 tomatoes diced
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>5 cups water
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>3 tablespoons cooking oil
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Fish sauce and ground black pepper to taste
        </ion-label>
      </ion-item>

  </ion-list>
</ion-card-content>
   
    