<ion-content>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="#" routerLink="/tinola">Back</ion-back-button>
        </ion-buttons>
        <ion-title>Chicken Tinola</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-title>Instructions:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label><b>1.</b>  In a stock pot, heat oil and sauté garlic, <br><br>onion and ginger.
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label><b>2.</b> Add water and the chicken
             </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>3.</b> Bring to a boil and simmer for about <br><br>20 minutes or until the chicken is almost done.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>4.</b> Season with patis</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>5.</b> Add papaya and continue to simmer for an <br><br>additional 5 minutes or until papaya <br><br>softens but not overcooked.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>6.</b> Add sili leaves then turn off the heat.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>7.</b> Serve steaming hot on a bowl <br><br>with plain rice on the side.
        </ion-label>
      </ion-item>
    </ion-list>
    </ion-content>