<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
  <ion-title>Pork Afritada</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true" padding class="background" >
  
  <ion-card>
    <img alt="" src="../../assets/icon/afritada.jpg" />
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/afritadaingred">Ingredients</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/afritadainst">Instructions</ion-button>
  </ion-card>
  <ion-card>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gKTg9ox28yI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </ion-card>
  
  
  <ion-card>
      <ion-card-content><b>Nutrition Information Calories:</b> 364kcal (18%) 
        Carbohydrates: 13g (4%) Protein: 30g (60%) Fat: 21g (32%) 
        Saturated Fat: 4g (20%) Cholesterol: 93mg (31%) 
        Sodium: 660mg (28%) Potassium: 856mg (24%) Fiber: 3g (12%) 
        Sugar: 6g (7%) Vitamin A: 855IU (17%) Vitamin C: 24.1mg (29%) 
        Calcium: 65mg (7%) Iron: 3.3mg (18%)
      </ion-card-content>
  </ion-card>
</ion-content>