ion-header{
    
    ion-toolbar, ion-item{
     --background: #df830a;
     background:#df830a;
     padding: 0 10px;
    }
     }
     
     ion-content.background{
     --background: url('../../assets/icon/dishbg.jpg') 0 0/100% 100% no-repeat;
     }

     ion-card-content{
        font-size: 18px;
    }
 