<ion-content>
  <ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/bistek">Back</ion-back-button>
      </ion-buttons>
  <ion-title>Filipino Style Beef Steak</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-card-content>
  <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>2 lbs. beef</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>1 Knorr Beef Cube
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>2 onions 
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>4 cloves garlic 
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>1 teaspoon peppercorns 
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>2 teaspoons cornstarch
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>1 ½ teaspoons brown sugar
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>6 tablespoons soy sauce
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>½ lemon
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>2 ½ cups water
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>3 tablespoons cooking oil
        </ion-label>
      </ion-item>
  </ion-list>
</ion-card-content>
   
    