<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/binagoonganrecipe">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Pork Binagoongan sa Gata</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card-content>
    <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>3 lbs. pork belly cubed</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>40 grams Knorr Ginataang Gulay Recipe Mix</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>4 tablespoons shrimp paste</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>3 cups water</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 eggplant sliced</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 tomato chopped</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 onion minced</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>5 cloves garlic minced</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 tablespoons white vinegar</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 teaspoon sugar</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>3 long green chili pepper sliced</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>5 tablespoons cooking oil</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fish sauce and ground black pepper to taste</ion-label>
      </ion-item>
      </ion-list>
  </ion-card-content>
 
  