<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
  <ion-title>LUMPIA</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card>
    <img alt="" src="../../assets/icon/shanghai.jpg" />
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/shanghaiingred">Ingredients</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/shanghaiinst">Instructions</ion-button>
  </ion-card>
  
  <ion-card>
      <ion-card-content><b>Nutrition Information Calories:</b> Carbs 16 g
        Dietary Fiber 2 g
        Sugars 1 g
        Fat 4 g
        Saturated 1 g
        Polyunsaturated 0 g
        Monounsaturated 0 g
        Trans 0 g
        Protein 4 g
        Sodium 250 mg
        Potassium 0 mg
        Cholesterol 15 mg
        Vitamin A 15 %
        Vitamin C 8 %
        </ion-card-content>
  </ion-card>
</ion-content>