<ion-header [translucent]="true">
   <ion-toolbar>
   <ion-buttons slot="start">
   <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
   </ion-buttons>
   <ion-title>Chicken Adobo</ion-title>
   </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" padding class="background" >
   <ion-card>
   <img alt="" src="../../assets/icon/Chickenadobo.jpg" />
  <ion-button id="open-modal" fill="outline" expand="block" routerLink="/chickenadingred">Ingredients</ion-button>
   <ion-button id="open-modal" fill="outline" expand="block" routerLink="/chickenadinst">Instructions</ion-button>
   <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=mtyULaM6RfQ">JUMP TO VIDEO</ion-button>
   </ion-card>
   <ion-card>
   <ion-card-content><b>Nutrition Information
   Calories:</b> 607kcal (30%) Carbohydrates: 4g (1%) Protein: 44g (88%) Fat: 
   44g (68%) Saturated Fat: 10g (50%) Cholesterol: 170mg (57%) Sodium: 1317mg (55%) Potassium: 496mg
  (14%) Sugar: 1g (1%) Vitamin A: 365IU (7%) Vitamin C: 5.1mg (6%) Calcium: 50mg (5%) Iron: 3mg (17%)
  
   </ion-card-content>
   </ion-card>
   </ion-content>