<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
  <ion-title>Pork Monggo With Crispy <br>Galunggong</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true" padding class="background" >
  <ion-card>
    <img alt="" src="../../assets/icon/PorkMonggo.jpg" />
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/porkmonggocrispgalungongingred">Ingredients</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/porkmonggocrispgalungonginst">Instructions</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=IYIR8mMpXzQ">JUMP TO VIDEO</ion-button>
  </ion-card>
  
  <ion-card>
      <ion-card-content><b>Nutrition Information Calories:</b> 957kcal (48%) Carbohydrates: 46g (15%) 
        Protein: 51g (102%) Fat: 64g (98%) Saturated Fat: 7g (35%) Polyunsaturated Fat: 17g 
        Monounsaturated Fat: 38g Trans Fat: 0.2g Cholesterol: 122mg (41%) Sodium: 4546mg (189%) Potassium: 2030mg (58%) 
        Fiber: 13g (52%) Sugar: 7g (8%) Vitamin A: 6950IU (139%) Vitamin C: 33mg (40%) 
        Calcium: 203mg (20%) Iron: 7mg (39%)</ion-card-content>
  </ion-card>
</ion-content>