<ion-content>
   <ion-header [translucent]="true">
  <ion-toolbar>
 <ion-buttons slot="start">
   <ion-back-button default-href="#" routerLink="/karekare">Back</ion-back-button>
 </ion-buttons>
   <ion-title>KARE-KARE</ion-title>
   </ion-toolbar>
  </ion-header>
  
<ion-card-content>
   <ion-title>Ingredients:</ion-title>
   <ion-list>
   <ion-item>
   <ion-label> 3 lbs oxtail cut in 2 inch slices you <br>can also use tripe or beef slices
   </ion-label>
 </ion-item>
 <ion-item>
   <ion-label> 1 piece small banana flower bud sliced
   </ion-label>
 </ion-item>
   <ion-item>
   <ion-label> 1 bundle pechay or bok choy
   </ion-label>
   </ion-item>
  <ion-item>
   <ion-label>1 bundle string beans cut into 2 inch slices
   </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>4 pieces eggplants sliced
   </ion-label>
  </ion-item>
   <ion-item>
  <ion-label>1 cup ground peanuts
  </ion-label>
   </ion-item>
  <ion-item>
 <ion-label> 1/2 cup peanut butter
 </ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1/2 cup shrimp paste
 </ion-label>
   </ion-item>
  <ion-item>
   <ion-label>34 Ounces water about 1 Liter
  </ion-label>
  </ion-item>
   <ion-item>
   <ion-label>1/2 cup annatto seeds soaked in a cup of water
  </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>1/2 cup toasted ground rice
   </ion-label>
 </ion-item>
   <ion-item>
  <ion-label>1 tbsp garlic minced
   </ion-label>
   </ion-item>
   <ion-item>
  <ion-label>1 piece onion chopped
   </ion-label>
   </ion-item>
 <ion-item>
  <ion-label>salt and pepper
   </ion-label>
   </ion-item>
   </ion-list>
 </ion-card-content>