ion-content.background{
  --background: url(../../assets/icon/BG.jpg) 0 0/100% 100% no-repeat;
  
  }
  
  .food{
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: 10px 10px 5px #070707;
  color: rgb(247, 246, 246);
  font-size: 300%;
  transform: translate(-50%, -50%) ;
  position:absolute;
  top: 40%;
  left: 50%;
  border-radius: 50%;
  }
  
  ion-button{
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-weight: 700;
  color: rgb(2, 2, 2);
  }
  
  
  ion-buttons{
   
  top:70%;
  left: 28%;
  transform: translate(-1%, -1%);
  position:absolute;
  display:flex;
  padding:1.3em 3em;
  font-size:5px;
  text-transform:capitalize;
  letter-spacing: 2.5px;
  font-weight: bold;
  color:#fffdfd;
  background-color:#ff9500;
  border:none;
  border-radius: 40px;
  box-shadow: 0px 8px 5px black;
  transition: all 0.1s ease 0s;
  cursor: pointer;
  outline: none;
  
  
  }
  
  ion-buttons:hover{
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color:black ;
  box-shadow: 0px 8px 5px black;
  color:#9c6704;
  transform: translateY(8px);
  
  }
  
  ion-buttons:active{
  transform:scale(0.75);
  }