<ion-content>
   <ion-header [translucent]="true">
      <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/binagoonganrecipe">Back</ion-back-button>
      </ion-buttons>
      <ion-title>Pork Binagoongan sa Gata</ion-title>
      </ion-toolbar>
  </ion-header>
  
    <ion-content>
      <ion-title>Instructions:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label><b>1.</b> Heat a pan and then sear the pork belly.<br><br> Remove the belly from the pan and set it aside.
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label><b>2.</b> Add 2 tablespoons of cooking oil in the same pan.<br><br> Fry the eggplants for 2 minutes per side.<br><br> Remove and set aside.
             </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>3.</b>Heat remaining oil in a pan.<br><br> Sauté garlic, onion, and tomato.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>4.</b> Add the seared pork back once the onion softens. <br><br>Cook for 1 minute.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>5.</b> Pour water and let the mixture boil. <br><br>Adjust the heat to a low setting.<br><br> Cook for 35 minutes</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>6.</b> Combine Knorr Gintaang Gulay Mix with <br><br>1 cup water. Pour the mixture into the pot.<br><br> Add vinegar. Cover and continue cooking <br><br>until the pork becomes tender.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>7.</b> Add the fried eggplants, <br><br>long green peppers, along with <br><br>a teaspoon of sugar. Cook for 2 minutes.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>8.</b> Season with fish sauce and ground black pepper. <br><br>Serve with rice. Share and enjoy!
        </ion-label>
      </ion-item>
    </ion-list>
    </ion-content>