<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/landingpage">Back</ion-back-button>
    </ion-buttons>
  <ion-title>DISH LIST</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content> 
  <ion-card>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/bicolexpress">BICOL EXPRESS</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/chickenadobo">CHICKEN ADOBO</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/sopas">CREAMY MACARNI SOUP/SOPAS</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/embutido">EMBUTIDO</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/bistek">FILIPINO STYLE BEEF STEAK</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/karekare">KARE-KARE</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/kinmanok">KINAMATISANG MANOK</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/laing">LAING</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/sisig">LECHON KAWALI SISIG</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/shanghai">LUMPIA</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/pancit">PANCIT CANTON</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/pepperpork">PEPPER PPORK BELLY</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/chickcurry">PINOY CHICKEN CURRY</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/afritada">PORK AFRITADA</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/binagoonganrecipe">PORK BINAGOONGAN SA GATA</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/porkmenudo">PORK MENUDO</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/porkmonggocrispgalungong">PORK MONGGO WITH CRISPY GALUNGGONG</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/relyentuna">RELYENONG TALONG WITH TUNE</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/bangussinigang">SINIGANG NA BANGUS</ion-button>
      <ion-button id="open-modal" fill="outline" expand="block" routerLink="/tinola">TINOLANG MANOK</ion-button>
  </ion-card>
  