<ion-content>
  <ion-header [translucent]="true">
   <ion-toolbar>
   <ion-buttons slot="start">
   <ion-back-button default-href="#" routerLink="/bangussinigang">Back</ion-back-button>
   </ion-buttons>
   <ion-title>Sinigang na Bangus</ion-title>
   </ion-toolbar>
  </ion-header>
  
  <ion-card-content>
  <ion-title>Ingredients:</ion-title>
   <ion-list>
   <ion-item>
   <ion-label>2 lbs. bangus cleaned and slice.</ion-label>
   </ion-item>
  <ion-item>
   <ion-label>23 grams Knorr Sinigang sa Sampaloc with Miso</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>8 okras cleaned</ion-label>
  </ion-item>
   <ion-item>
   <ion-label>8 okras cleaned</ion-label>
  </ion-item>
  <ion-item>
   <ion-label>12 string beans cut in 2-inch length</ion-label>
   </ion-item>
   <ion-item>
   <ion-label>4 ounces daikon radish sliced</ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1 bunch mustard leaves
  </ion-label>
   </ion-item>
  <ion-item>
   <ion-label>3 tomatoes quartered</ion-label>
   </ion-item>
   <ion-item>
   <ion-label>2 onions quartered</ion-label>
   </ion-item>
   <ion-item>
   <ion-label>1 quart water</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>Fish sauce and ground black pepper to taste</ion-label>
  </ion-item>
   </ion-list>
  </ion-card-content>