<ion-content>
  <ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/kinamatisangmanok">Back</ion-back-button>
      </ion-buttons>
  <ion-title>Kinamatisang Manok</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-card-content>
  <ion-title>Ingredients:</ion-title>
    <ion-list>
      <ion-item>
        <ion-label>1 lb. chicken cut into serving pieces
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>4 tomatoes sliced into wedges
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>1 Knorr Chicken Cube
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>2 bunches bok choy
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>3 long green chili peppers
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>1 onion sliced
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>3 thumbs ginger crushed
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>3 cloves garlic chopped
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>2 cups water
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>3 tablespoons cooking oil
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Fish sauce and ground black pepper to taste
        </ion-label>
      </ion-item>

  </ion-list>
</ion-card-content>
   
    