<ion-content>
 <ion-header [translucent]="true">
   <ion-toolbar>
   <ion-buttons slot="start">
   <ion-back-button default-href="#" routerLink="/pepperpork">Back</ion-back-button>
  </ion-buttons>
   <ion-title>Pepper Pork Belly</ion-title>
  </ion-toolbar>
   </ion-header>
   
   <ion-content>
  <ion-title>Instructions:</ion-title>
   <ion-list>
   <ion-item>
  <ion-label><b>1.</b> Heat cooking oil in a cooking pot. <br><br>3 tablespoons cooking oil.</ion-label>
   </ion-item>
   <ion-item>
   <ion-label><b>2.</b> Sauté onion and garlic. 1 onion, <br><br>4 cloves garlic.
  </ion-label>
  </ion-item>
  <ion-item>
  <ion-label><b>3.</b> Add pork belly once the onion softens. <br><br>Continue sautéing until the exterior of <br><br>the pork turns light brown.
   2 lbs. pork belly.</ion-label>
   </ion-item>
   <ion-item>
  <ion-label><b>4.</b> Add Knorr Liquid Seasoning, oyster sauce, <br><br>soy sauce, and water. Let it boil. <br><br>Cover the pot. Adjust the heat to a low setting. <br><br>Cook until the pork becomes tender.<br> <br>Note: add water as needed.
 <br><br>1 tablespoon Knorr Liquid Seasoning, <br><br>1 tablespoon oyster sauce, <br><br>3 tablespoons soy sauce, 2 cups water.</ion-label>
   </ion-item>
  <ion-item>
   <ion-label><b>5.</b> Add the sugar and put all the bell peppers <br><br> into the pot. Cook for 3 minutes.
   <br><br>1 red bell pepper, <br><br>1 orange bell pepper, <br><br>1 teaspoons brown sugar, <br><br>1 green bell pepper.</ion-label>
   </ion-item>
  <ion-item>
   <ion-label><b>6.</b> Combine cornstarch with 3 tablespoons<br><br> of water. Stir. Pour the mixture into the pot.<br><br>
   1 ½ teaspoons cornstarch.</ion-label>
  </ion-item>
   <ion-item>
  <ion-label><b>7.</b> Once the sauce thickens, season your dish<br><br> with salt and ground black pepper.<br><br>
   Salt and ground black pepper to taste.</ion-label>
   </ion-item>
   <ion-item>
   <ion-label><b>8.</b> Transfer to a serving plate. <br><br>Serve with rice. Share and enjoy!.
 </ion-label>
  </ion-item>
   </ion-list>
  </ion-content>